---
import GetEmojiDropdown from '../GetEmojiDropdown/GetEmojiDropdown.astro';
import Search from '../Search/Search.astro';
import githubLogo from './github_hi.svg';
import twitterLogo from './twitter_hi.svg';
import menuIcon from './menu.svg';
import menuCloseIcon from './menu-close.svg';

const {showSearch} = Astro.props;
const color = Astro.props.color || 'default';
const {selected} = Astro.props;
const {borderBottom} = Astro.props;

let currentPage = String(Astro.request.url);
currentPage = currentPage.replace('//','');
currentPage = currentPage.split('/');
currentPage.shift();
currentPage = '/' + currentPage.join('/');


const menuItems = [
  {
    "text": "OpenMoji",
    "href": "/"
  },
  {
    "text": "Library",
    "href": "/library"
  },
  {
    "text": "Participate",
    "href": "/styleguide"
  },
  {
    "text": "Samples",
    "href": "/samples"
  },
  {
    "text": "FAQ",
    "href": "/faq"
  },
  {
    "text": "About",
    "href": "/about"
  }
]
---
<header class={borderBottom === true ? "page-header borderBottom" : "page-header"}>
  <style lang="scss">
    @use './_header.scss';
  </style>
  <a class="project-name" href="../">
    <h2 class="visuallyHeadline2">OpenMoji</h2>
  </a>
  <nav class="menu">
    <ul>
      {menuItems.map((menuItem) => 
        currentPage === menuItem.href ? (<li class={'active-tab ' + color}><a class="standardLink" href={menuItem.href}>{menuItem.text}</a></li>) : (<li><a class="standardLink" href={menuItem.href}>{menuItem.text}</a></li>)
      )}
    </ul>
    <div class="github-link">
      <a
        class="gh-link iconlink"
        rel="noopener"
        href="https://github.com/hfg-gmuend/openmoji"
        target="_blank">
        <img src={githubLogo} alt="GitHub logo"/>
      </a>
      <a
        class="iconlink"
        rel="noopener"
        href="https://twitter.com/OpenMoji"
        target="_blank">
          <img src={twitterLogo} alt="Twitter logo" />
      </a>
    </div>
  </nav>
  <div class="actions">
    {
      showSearch ? (<Search theme="forHeader" placeholder="desc, emoji, hexcode …"/>) : null
    }
    <button class="mobile-toggle">
      <img id="openMenuIcon" src={menuIcon} alt="Open menu"/>
      <img id="closeMenuIcon" class="hidden" src={menuCloseIcon} alt="Close menu"/>
    </button>
    <div class="action-links">
      <a
        class="gh-link iconlink"
        rel="noopener"
        href="https://github.com/hfg-gmuend/openmoji"
        target="_blank">
        <img src={githubLogo} alt="GitHub logo"/>
      </a>
      <a
        class="iconlink"
        rel="noopener"
        href="https://twitter.com/OpenMoji"
        target="_blank">
        <img src={twitterLogo} alt="Twitter logo" />
      </a>
      <GetEmojiDropdown color={color}/>
    </div>
  </div>
</header>
<div class="contentPusher"></div>